Repository charlesfoster/vartracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, black, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML files
        entry: scripts/check_yaml.py
        language: system
        files: "\\.ya?ml$"
      - id: check-toml
        name: Check TOML files
        entry: scripts/check_toml.py
        language: system
        files: "\\.toml$"
      - id: end-of-file-fixer
        name: Ensure newline at EOF
        entry: scripts/fix_eof.py
        language: system
      - id: trailing-whitespace
        name: Trim trailing whitespace
        entry: scripts/check_trailing_whitespace.py
        language: system
      - id: black
        name: Black
        entry: black
        language: system
        types: [python]
        args: ["--line-length=88"]
      - id: flake8
        name: Flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]

Added option to generate example expected files; other refactoring.
  .github/workflows/ci.yml
  .gitignore
  README.md
  pyproject.toml
  tests/test_cli_integration.py
  tests/test_main.py
  vartracker/__init__.py
  vartracker/_version.py
  vartracker/main.py
Due: check-yaml, check-toml, black, flake8, mypy

Ensured test data are uploaded
  .gitignore
  vartracker/test_data/coverage/test_psg_0.coverage.txt
  vartracker/test_data/coverage/test_psg_1.coverage.txt
  vartracker/test_data/coverage/test_psg_12.coverage.txt
  vartracker/test_data/coverage/test_psg_15.coverage.txt
  vartracker/test_data/coverage/test_psg_2.coverage.txt
  vartracker/test_data/coverage/test_psg_3.coverage.txt
  vartracker/test_data/coverage/test_psg_4.coverage.txt
  vartracker/test_data/coverage/test_psg_5.coverage.txt
  vartracker/test_data/coverage/test_psg_6.coverage.txt
  vartracker/test_data/coverage/test_psg_9.coverage.txt
  vartracker/test_data/vcfs/test_psg_0.lofreq.vcf.gz.csi
  vartracker/test_data/vcfs/test_psg_1.lofreq.vcf.gz.csi
  vartracker/test_data/vcfs/test_psg_12.lofreq.vcf.gz.csi
  vartracker/test_data/vcfs/test_psg_15.lofreq.vcf.gz.csi
  vartracker/test_data/vcfs/test_psg_2.lofreq.vcf.gz.csi
  vartracker/test_data/vcfs/test_psg_3.lofreq.vcf.gz.csi
  vartracker/test_data/vcfs/test_psg_4.lofreq.vcf.gz.csi
  vartracker/test_data/vcfs/test_psg_5.lofreq.vcf.gz.csi
  vartracker/test_data/vcfs/test_psg_6.lofreq.vcf.gz.csi
  vartracker/test_data/vcfs/test_psg_9.lofreq.vcf.gz.csi
Due: none

And fixed the gitignoring further...
  .gitignore
  vartracker/test_data/inputs/test_input.csv
  vartracker/test_data/mock_pokay/mock_pokay.csv
  vartracker/test_data/precomputed/test_results.csv
  vartracker/test_data/vcfs/test_psg_0.lofreq.vcf.gz
  vartracker/test_data/vcfs/test_psg_1.lofreq.vcf.gz
  vartracker/test_data/vcfs/test_psg_12.lofreq.vcf.gz
  vartracker/test_data/vcfs/test_psg_15.lofreq.vcf.gz
  vartracker/test_data/vcfs/test_psg_2.lofreq.vcf.gz
  vartracker/test_data/vcfs/test_psg_3.lofreq.vcf.gz
  vartracker/test_data/vcfs/test_psg_4.lofreq.vcf.gz
  vartracker/test_data/vcfs/test_psg_5.lofreq.vcf.gz
  vartracker/test_data/vcfs/test_psg_6.lofreq.vcf.gz
  vartracker/test_data/vcfs/test_psg_9.lofreq.vcf.gz
Due: none

Working towards allowing analysis of non-SARS-CoV-2 viruses
  pyproject.toml
  tests/test_main.py
  vartracker/analysis.py
  vartracker/annotation_processing.py
  vartracker/main.py
  vartracker/vcf_processing.py
Due: check-toml, black, flake8, mypy

Successful initial implementation of e2e mode
  .gitignore
  pyproject.toml
  tests/test_cli_integration.py
  tests/test_main.py
  vartracker/Snakefile
  vartracker/__init__.py
  vartracker/analysis_launcher.py
  vartracker/main.py
Due: check-toml, black, flake8, mypy

Further development of extra analysis modes
  README.md
  tests/test_core.py
  tests/test_main.py
  vartracker/Snakefile
  vartracker/analysis.py
  vartracker/analysis_launcher.py
  vartracker/core.py
  vartracker/main.py
  vartracker/test_data/inputs/test_input_bam.csv
  vartracker/test_data/inputs/test_input_e2e.csv
  vartracker/test_data/inputs/test_input_vcf.csv
  vartracker/vcf_processing.py
Due: black, flake8, mypy

Added HTML reporting of results
  tests/test_analysis.py
  tests/test_parse_pokay.py
  vartracker/analysis.py
  vartracker/data/parse_pokay.py
  vartracker/main.py
Due: black, flake8, mypy

Added Docker file
  Dockerfile
  README.md
Due: none

Bumped major version to reflect major changes
  pyproject.toml
Due: check-toml

Fixing the CI
  .flake8
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  AGENTS.md
  Dockerfile
  LICENSE
  MANIFEST.in
  README.md
  pyproject.toml
Due: check-yaml, check-toml

Ready to merge with main (hopefully)
  .github/workflows/ci.yml
  .github/workflows/publish-pypi.yml
  .zenodo.json
  CITATION.cff
  Dockerfile
  MANIFEST.in
  README.md
  docs/DEPENDENCIES.md
  docs/OUTPUT_SCHEMA.md
  environment.yml
  schema.csv
  schema.json
  scripts/check_output_schema.py
  tests/test_cli.py
  tests/test_cli_integration.py
  tests/test_main.py
  tests/test_schema.py
  vartracker/constants.py
  vartracker/generate.py
  vartracker/main.py
  vartracker/provenance.py
  vartracker/schemas.py
Due: check-yaml, black, flake8, mypy

Fixing CI permissions.
  .github/workflows/ci.yml
Due: check-yaml

Fix CI: micromamba prefix path
  .github/workflows/ci.yml
Due: check-yaml

Fixed fallback version string
  vartracker/_version.py
Due: black, flake8, mypy

CLI refactoring and snakemake .dot generation
  .gitignore
  README.md
  tests/test_cli.py
  vartracker/analysis.py
  vartracker/analysis_launcher.py
  vartracker/main.py
Due: black, flake8, mypy

Added in reference preparation
  README.md
  docs/DEPENDENCIES.md
  environment.yml
  pyproject.toml
  tests/test_cli.py
  tests/test_main.py
  tests/test_reference_prepare.py
  vartracker/main.py
  vartracker/reference_prepare.py
Due: check-yaml, check-toml, black, flake8, mypy

Updated schema to describe literature
  README.md
  tests/test_analysis.py
  tests/test_cli.py
  tests/test_main.py
  tests/test_reference_prepare.py
  vartracker/analysis.py
  vartracker/data/NC_045512.fasta.amb
  vartracker/data/NC_045512.fasta.ann
  vartracker/data/NC_045512.fasta.bwt
  vartracker/data/NC_045512.fasta.pac
  vartracker/data/NC_045512.fasta.sa
  vartracker/main.py
  vartracker/reference_prepare.py
  vartracker/test_data/mock_literature/mock_literature.csv
Due: black, flake8, mypy

Update README citation
  README.md
Due: none

Bump version to 2.1.0
  CITATION.cff
  README.md
  pyproject.toml
  vartracker/_version.py
Due: check-toml, black, flake8, mypy

Fixed typo.
  README.md
Due: none

Remove non-conda CLI and Pokay dependencies
  pyproject.toml
  tests/test_parse_pokay.py
  vartracker/_version.py
  vartracker/data/parse_pokay.py
  vartracker/main.py
Due: check-toml, black, flake8, mypy

Updated README to reflect Bioconda availability, simplified Dockerfile, fixed minor bug (bcftools warnings), ensured that CSV parsed from literature is persistent.
  Dockerfile.dev
  README.md
  tests/test_main.py
  vartracker/main.py
  vartracker/vcf_processing.py
Due: black, flake8, mypy

Added in logging for snakemake steps
  tests/test_snakemake_workflow.py
  vartracker/Snakefile
Due: black, flake8, mypy

Plotting and lofreq adjustments
  README.md
  tests/test_analysis.py
  tests/test_main.py
  tests/test_snakemake_workflow.py
  vartracker/Snakefile
  vartracker/analysis.py
  vartracker/main.py
Due: black, flake8, mypy

Arguments refactor and plotting refinements
  README.md
  tests/test_analysis.py
  tests/test_main.py
  vartracker/__init__.py
  vartracker/analysis.py
  vartracker/main.py
Due: black, flake8, mypy

Fixing potential results duplication with some samples; made variant_qc more interpretable
  README.md
  tests/test_analysis.py
  tests/test_main.py
  vartracker/analysis.py
  vartracker/main.py
  vartracker/schemas.py
  vartracker/test_data/precomputed/test_results.csv
  vartracker/vcf_processing.py
Due: black, flake8, mypy

SOme new plot options added
  README.md
  pytest_results.txt
  tests/test_main.py
  tests/test_plotting.py
  vartracker/analysis.py
  vartracker/main.py
  vartracker/plotting.py
  vartracker/schemas.py
  vartracker/test_data/precomputed/test_results.csv
Due: black, flake8, mypy

Plot improvements
  README.md
  pytest_results.txt
  tests/test_main.py
  tests/test_plotting.py
  vartracker/main.py
  vartracker/plotting.py
Due: black, flake8, mypy

Updated plotting capabilities
  README.md
  tests/test_main.py
  tests/test_plotting.py
  vartracker/main.py
  vartracker/plotting.py
Due: black, flake8, mypy

Added ability to generate consensus genomes + bug huntin
  README.md
  docs/DEPENDENCIES.md
  tests/test_analysis.py
  tests/test_analysis_launcher.py
  tests/test_cli.py
  tests/test_consensus.py
  tests/test_main.py
  tests/test_snakemake_workflow.py
  tests/test_vcf_processing.py
  vartracker/Snakefile
  vartracker/analysis.py
  vartracker/analysis_launcher.py
  vartracker/consensus.py
  vartracker/main.py
  vartracker/vcf_processing.py
Due: black, flake8, mypy

Fixed treatment of low frequency multiallelics
  CITATION.cff
  README.md
  pyproject.toml
  tests/test_analysis.py
  tests/test_analysis_launcher.py
  tests/test_lofreq_primer_rescue.py
  tests/test_main.py
  tests/test_snakemake_workflow.py
  tests/test_vcf_processing.py
  vartracker/Snakefile
  vartracker/_version.py
  vartracker/analysis.py
  vartracker/analysis_launcher.py
  vartracker/lofreq_primer_rescue.py
  vartracker/main.py
  vartracker/vcf_processing.py
Due: check-toml, black, flake8, mypy

Script lint fix
  vartracker/lofreq_primer_rescue.py
Due: black, flake8, mypy

Fixed mypy pin to pass CI
  .pre-commit-config.yaml
  pyproject.toml
Due: check-yaml, check-toml

Fixed schema to pass CI
  docs/OUTPUT_SCHEMA.md
  tests/test_schema.py
Due: black, flake8, mypy

Merge dev: plotting functions, bug fixes including handling of multiallelics (#2)
  .pre-commit-config.yaml
  CITATION.cff
  README.md
  docs/DEPENDENCIES.md
  docs/OUTPUT_SCHEMA.md
  pyproject.toml
  pytest_results.txt
  tests/test_analysis.py
  tests/test_analysis_launcher.py
  tests/test_cli.py
  tests/test_consensus.py
  tests/test_lofreq_primer_rescue.py
  tests/test_main.py
  tests/test_plotting.py
  tests/test_schema.py
  tests/test_snakemake_workflow.py
  tests/test_vcf_processing.py
  vartracker/Snakefile
  vartracker/__init__.py
  vartracker/_version.py
  vartracker/analysis.py
  vartracker/analysis_launcher.py
  vartracker/consensus.py
  vartracker/lofreq_primer_rescue.py
  vartracker/main.py
  vartracker/plotting.py
  vartracker/schemas.py
  vartracker/test_data/precomputed/test_results.csv
  vartracker/vcf_processing.py
Due: check-yaml, check-toml, black, flake8, mypy

Fixing some variant rescue and longitudinal tracking quirks
  CITATION.cff
  README.md
  pyproject.toml
  tests/test_analysis.py
  tests/test_analysis_launcher.py
  tests/test_constants.py
  tests/test_lofreq_primer_rescue.py
  tests/test_main.py
  tests/test_snakemake_workflow.py
  tests/test_vcf_processing.py
  vartracker/Snakefile
  vartracker/_version.py
  vartracker/analysis.py
  vartracker/analysis_launcher.py
  vartracker/constants.py
  vartracker/lofreq_primer_rescue.py
  vartracker/main.py
  vartracker/vcf_processing.py
Due: check-toml, black, flake8, mypy

v2.2.1: fixed minor bugs in longitudinal tracking (#3)
  CITATION.cff
  README.md
  pyproject.toml
  tests/test_analysis.py
  tests/test_analysis_launcher.py
  tests/test_constants.py
  tests/test_lofreq_primer_rescue.py
  tests/test_main.py
  tests/test_snakemake_workflow.py
  tests/test_vcf_processing.py
  vartracker/Snakefile
  vartracker/_version.py
  vartracker/analysis.py
  vartracker/analysis_launcher.py
  vartracker/constants.py
  vartracker/lofreq_primer_rescue.py
  vartracker/main.py
  vartracker/vcf_processing.py
Due: check-toml, black, flake8, mypy

Document custom literature-CSV creation for non-SARS-CoV-2 pathogens
  README.md
Due: none
