Repository charlesfoster/vartracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, black, flake8, mypy

check-yaml:
  name: Check YAML files
  entry: scripts/check_yaml.py
  language: system

check-toml:
  name: Check TOML files
  entry: scripts/check_toml.py
  language: system

black:
  name: Black
  entry: black
  language: system
  args:
  - --line-length=88

flake8:
  name: Flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system

Fix silent merging of same-named genes across contigs/replicons
  CHANGELOG.md
  tests/test_analysis.py
  tests/test_annotation_processing.py
  vartracker/analysis.py
  vartracker/annotation_processing.py
  vartracker/main.py
Due: black, flake8, mypy

Cap gene-wise plot to top genes by newly emerged variants for large genomes
  README.md
  tests/test_analysis.py
  vartracker/analysis.py
  vartracker/main.py
Due: black, flake8, mypy

Address reviewer comments: QC threshold caveats, intermittent persistence labels, primer-bed warning
  README.md
  docs/OUTPUT_SCHEMA.md
  tests/test_analysis.py
  tests/test_main.py
  tests/test_plotting.py
  tests/test_vcf_processing.py
  vartracker/analysis.py
  vartracker/main.py
  vartracker/plotting.py
  vartracker/schemas.py
  vartracker/vcf_processing.py
Due: black, flake8, mypy

Bump to v2.3.0: fix bacterial-genome joint-variant/canonical-row handling and duplicate-row plotting, add PAO1 validation scripts, correct README/CHANGELOG
  .gitignore
  CHANGELOG.md
  CITATION.cff
  README.md
  docs/OUTPUT_SCHEMA.md
  pyproject.toml
  scripts/validation/pao1/README.md
  scripts/validation/pao1/run_validation.sh
  scripts/validation/pao1/simulate_pao1.py
  tests/test_analysis.py
  tests/test_cli.py
  tests/test_plotting.py
  tests/test_vcf_processing.py
  vartracker/_version.py
  vartracker/analysis.py
  vartracker/main.py
  vartracker/plotting.py
  vartracker/schemas.py
  vartracker/vcf_processing.py
Due: check-toml, black, flake8, mypy

Fix lint: black-format simulate_pao1.py, drop unused test imports
  scripts/validation/pao1/simulate_pao1.py
  tests/test_analysis.py
Due: black, flake8, mypy

Fix CI lint job: run under Python 3.11 to match mypy's target and avoid numpy 2.5's Python-3.12-only PEP 695 stub syntax
  .github/workflows/ci.yml
Due: check-yaml

v2.3.0 (#4)
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  CITATION.cff
  README.md
  docs/OUTPUT_SCHEMA.md
  pyproject.toml
  scripts/validation/pao1/README.md
  scripts/validation/pao1/run_validation.sh
  scripts/validation/pao1/simulate_pao1.py
  tests/test_analysis.py
  tests/test_annotation_processing.py
  tests/test_cli.py
  tests/test_main.py
  tests/test_plotting.py
  tests/test_vcf_processing.py
  vartracker/_version.py
  vartracker/analysis.py
  vartracker/annotation_processing.py
  vartracker/main.py
  vartracker/plotting.py
  vartracker/schemas.py
  vartracker/vcf_processing.py
Due: check-yaml, check-toml, black, flake8, mypy

Path conditions:
  check-yaml: any of: \.ya?ml$
  check-toml: any of: \.toml$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
